ENV=dev

DB_TYPE="postgres"
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=yourDBUser  
DB_PASSWORD=yourPassword
DB_NAME=helpdesk
DB_SYNC=false

ORIGIN="http://localhost:3000"

HOST="http://localhost:4321"

PORT=4321

# Default Admin User
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=123